<ng-content></ng-content>
<div class="container" *ngIf="userId !== authorId; else authormessage">
    <img class="image image-right" [src]="contactImage" alt="'contact'"/>
    <div class="content content-left">{{content}}</div>
    <div class="under-content">{{name}} {{time}} contact</div>
</div>
<ng-template #authormessage>
    <div class="container">
        <img class="image image-left" [src]="userImage" alt="'user'"/>
        <div class="content content-right">{{content}}</div>
        <div class="under-content">{{name}} {{time}}</div>
    </div>
</ng-template>