<div class="container">
    <div class="top">
        <img [src]='profileImage'/>
        <div>
            <span>{{data.name}}</span>
            <span> {{data.last_name}}</span>
        </div>
    </div>
    <div class="details">
        <app-detailscard [icon]="calander_icon" [title]="'Birth Date'" [data]='data.birthday'></app-detailscard>
        <app-detailscard [icon]="phone_icon" [title]="'Phone Number'" [data]="data.phone"></app-detailscard>
        <app-detailscard [icon]="email_icon" [title]="'Email'" [data]="data.email"></app-detailscard>
        <app-detailscard [icon]="house_icon" [title]="'Address'" [data]="data.address"></app-detailscard>
        <app-detailscard [icon]="web_icon" [title]="'Website'" [data]="data.website"></app-detailscard>
        <app-detailscard [icon]="fb_icon" [title]="'Facebook'" [data]="data.facebook"></app-detailscard>
        <app-detailscard [icon]="twitter_icon" [title]="'Twitter'" [data]="data.twitter"></app-detailscard>
        <app-detailscard [icon]="instagram_icon" [title]="'Instagram'" [data]="data.instagram"></app-detailscard>
        <app-detailscard [icon]="linkedin_icon" [title]="'Linkedin'" [data]="data.linkedin"></app-detailscard>
    </div>
</div>