<div class="container">
    <div class="logo">
        <img [src]='logo_src' alt='logo'/>
    </div>
    <div class="navigator">
        <div class="navigator-item" (click)="clickHandler('chat')">
            <img [src]='chats_src' alt='chats'/>
        </div>
        <div class="navigator-item" (click)="clickHandler('contacts')">
            <img [src]='contacts_src' alt='contacts'/>
        </div>
        <div class="navigator-item" (click)="clickHandler('profile')">
            <img [src]='settings_src' alt='settings'/>
        </div>
        <div class="navigator-item" (click)="logoutHandler()">
            <img [src]='logout_src' alt='logout'/>
        </div>
    </div>
</div>
