<div class="container">

    <div class="container-image">
        <img [src]='data.picture'/>
    </div>
    <div class="container-content">
        <div class="container-content-exit" (click)="deleteHandler()">
            <img [src]='exit_icon' alt="'X'"/>
        </div>
        <div class="container-content-name">{{data.from_name}}</div>
        <div class="container-content-desc">Wants to be friends with you</div>
        <div class="container-content-buttons" *ngIf="data.type === 'friend_request'">
            <span class="container-content-accept" (click)="acceptRequestHandler()">Accept</span>
            <span class="container-content-decline" (click)="deleteHandler()">Decline</span>
        </div>
    </div>
</div>
